<title>WebApp</title>
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel="stylesheet" type="text/css" href="/scripts/semantic.min.css">
<script src="/scripts/semantic.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="http://pubnub.github.io/eon/lib/eon-map.js"></script>
<link type="text/css" rel="stylesheet" href="http://pubnub.github.io/eon/lib/eon.css" />
<script>
    L.RotatedMarker = L.Marker.extend({
        options: { angle: 0 },
        _setPos: function(pos) {
            L.Marker.prototype._setPos.call(this, pos);
            if (L.DomUtil.TRANSFORM) {
                // use the CSS transform rule if available
                this._icon.style[L.DomUtil.TRANSFORM] += ' rotate(' + this.options.angle + 'deg)';
            } else if (L.Browser.ie) {
                // fallback for IE6, IE7, IE8
                var rad = this.options.angle * L.LatLng.DEG_TO_RAD,
                        costheta = Math.cos(rad),
                        sintheta = Math.sin(rad);
                this._icon.style.filter += ' progid:DXImageTransform.Microsoft.Matrix(sizingMethod=\'auto expand\', M11=' +
                        costheta + ', M12=' + (-sintheta) + ', M21=' + sintheta + ', M22=' + costheta + ')';
            }
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
        $('#header_email').text('<%= user%>');
    })
</script>