<title>WebApp</title>
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel="stylesheet" type="text/css" href="/scripts/semantic.min.css">
<script src="/scripts/semantic.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
