<!--<div class="ui large menu">-->
    <!--<a class="active item" href="login">-->
        <!--Home-->
    <!--</a>-->
    <!--&lt;!&ndash;<form class="active item" action="file_transfer_home" id="header_item_firmware_update">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="active item" onclick="document.getElementById('header_item_firmware_update').submit();">Firmware Update</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--<a class="active item" href="file_transfer_home">-->
        <!--Firmware Update-->
    <!--</a>-->
    <!--<a class="active item" href="network_monitoring">-->
        <!--Network Monitoring-->
    <!--</a>-->
    <!--<a class="active item" href="port_monitoring">-->
        <!--Port Monitoring-->
    <!--</a>-->

    <!--<div class="right menu">-->
        <!--<div class="ui pointing dropdown link item">-->
            <!--<b><span class="text" id="header_email">user name</span>-->
            <!--<i class="dropdown icon"></i></b>-->
            <!--<div class="menu">-->
                <!--<a class="item" href="logout">Logout</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
        <!--&lt;!&ndash;<form class="item" action="logout">&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="ui primary button">Logout</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</form>&ndash;&gt;-->

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper teal lighten-1">
            <a href="#" class="brand-logo" style="padding-left:10px;">Wispero</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="login">Home</a></li>
                <li><a href="network_monitoring">Network Monitoring</a></li>
                <li><a href="dfu">DFU-OTA</a></li>
                <li><a href="port_monitoring">Port Monitoring</a></li>
            </ul>
        </div>
    </nav>
</div>




