<title>Wispero</title>
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel="stylesheet" type="text/css" href="/scripts/semantic.min.css">
<script src="/scripts/semantic.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="http://pubnub.github.io/eon/lib/eon-map.js"></script>
<link type="text/css" rel="stylesheet" href="http://pubnub.github.io/eon/lib/eon.css" />
<script>
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
        $('#header_email').text('<%= user%>');
    })
</script>