<div class="ui large menu">
    <a class="active item">
        Home
    </a>
    <div class="right menu">
        <form class="item" action="logout">
            <button class="ui primary button">Logout</button>
        </form>
    </div>
</div>