<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <% include ./partials/head.ejs %>
</head>
<body>
<% include ./partials/header.ejs %>

<div class="eight wide center aligned column">
    <div class="row" id="progress_log_div">
        <div class="ui segment">
            <div class="field">
                <label>Progress : </label><br>
                <textarea id="progress_log_ta" style="width: 100%; height: 400px"></textarea>
            </div>
        </div>
    </div>
</div>

</body>
</html>
