<!DOCTYPE html>
<html>
<head>
    <title>MyApp</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js"></script>

</head>
<body>

<nav>
    <div class="nav-wrapper  teal lighten-1">
        <a href="#" class="brand-logo" style="padding-left:10px; ">WISPERO</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Log In</a></li>
            <li><a href="badges.html">About Us</a></li>
            <li><a href="collapsible.html">Contact Us</a></li>
        </ul>
    </div>
</nav>

<div class="container section">
    <div class="row ">
        <div class=" col l10 s12 offset-l1">
            <canvas class="z-depth-4" id="mainGraph" height="250px" width="600px">
            </canvas>
        </div>


    </div>
    <div class="row section">
      <div class="container">
        <div class="col s12 l12 center-align ">
            <h2>Address-Wise Statistics</h2>
        </div>
    </div>
        <div class="col s12 l2">
            <a class='dropdown-button btn' href='#' data-activates='dropdown1' id="addresses">Addresses</a>

            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>

            </ul>
        </div>
        <div class="col s12 l8 ">
            <canvas id="graph" height="250px" width="600px">
            </canvas>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6">
            <canvas id="pie_adv_type_single" height="250px" width="600px">
        </div>
        <div class="col s12 l6">
            <canvas id="pie_addr_type_single" height="250px" width="600px">
        </div>
    </div>
    <div class="divider"></div>
</div>

<div class="row">
    <div class="container">
        <div class="col s12 l12 center-align ">
            <h2>Network Statistics</h2>
        </div>
    </div>
    <div class="col s12 l6">
        <canvas id="graph1" height="250px" width="600px">
        </canvas>
    </div>
    <div class="col s12 l6 ">
        <canvas id="graph2" height="250px" width="600px">
        </canvas>
    </div>

</div>
<div class="row">
    <div class="col s12 l6">
        <canvas id="graph3" height="250px" width="600px">
        </canvas>
    </div>
    <div class="col s12 l6 ">
        <canvas id="graph4" height="250px" width="600px">
        </canvas>
    </div>
</div>


<!-- Footer -->

<footer class="page-footer  teal lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Wispero Networks</h5>
                <p class="grey-text text-lighten-4">One of the leading Company in IOT Security and Management</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">About IOT</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">About Team</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

<script>

    function render_graph(la, da, canvas_id, graph_type, bool_display_title, graph_title) {
        var arr_bgcolor = [], arr_border=[];
        for (i = 0; i < da.length; i++) {
            var str_base = 'rgba(' + Math.floor((Math.random() * 1000) % 255) + ',' + Math.floor((Math.random() * 1000) % 255) + ',' + Math.floor((Math.random() * 1000) % 255) + ',' ;
            var str_bgcolor = str_base + '0.4)';
            var str_border = str_base + '1)';
            arr_bgcolor.push(str_bgcolor);
            arr_border.push(str_border);
        }

        var ctx = document.getElementById(canvas_id);

        var data = {
            labels: la,
            datasets: [{
                data: da,
                backgroundColor: arr_bgcolor,
                borderColor: arr_border,
                borderWidth: 1
            }]
        };

        var charts = new Chart(ctx, {
            type: graph_type,
            options: {
                title: {
                    display: bool_display_title,
                    text: graph_title
                }
            },
            data: data,
        });
    }

    function drawGraph(addr) {
        $("#addresses").html(addr);
        console.log("in drawGraph");
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "/get_AdvA_details",
            "method": "POST",
            "headers": {
                "content-type": "application/x-www-form-urlencoded",
                "cache-control": "no-cache",
                "postman-token": "96967447-b360-edbf-0074-e95dc54961a8"
            },
            "data": {
                "AdvA": addr.toString()
            }
        }

        var la1 = [], la2 = [], la3 = [], da1 = [], da2 = [], da3 = [];

        $.ajax(settings).done(function (response) {
            for (var key in response) {
                var arr = response[key];
                if (key == "channel_index_pie") {
                    for (var i = 0; i < arr.length; i++) {
                        la1.push(response.channel_index_pie[0]._id);
                        da1.push(response.channel_index_pie[0].count);
                    }
                } else if (key == "adv_type") {
                    for (var i = 0; i < arr.length; i++) {
                        la2.push(response.adv_type[0]._id);
                        da2.push(response.adv_type[0].count);
                    }
                } else if (key == "addr_type") {
                    for (var i = 0; i < arr.length; i++) {
                        la3.push(response.addr_type[0]._id);
                        da3.push(response.addr_type[0].count);
                    }
                }
            }

            render_graph(la1, da1, "graph", "pie", true, "channels used for advertisements");
            render_graph(la2, da2, "pie_adv_type_single", "pie", true, "advertisement types");
            render_graph(la3, da3, "pie_addr_type_single", "pie", true, "address types");
        });
    }


    bar();
    //bar

    function bar() {

        var la = [], da = [];

        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "/get_addr_freqs",
            "method": "GET",
            "headers": {
                "cache-control": "no-cache",
                "postman-token": "024c5e82-145d-e631-9bcd-c6409a6ca00e"
            }
        }

        $.ajax(settings).done(function (response) {
            for (var i = 0; i < response.length; i++) {
                la.push(response[i].AdvA);
                da.push(response[i].counter);
                var new_addr = "'" + response[i].AdvA + "'";
                console.log("str : " + new_addr);
                document.getElementById('dropdown1').innerHTML += '<li onclick="drawGraph(' + new_addr + ')"><a href="#!">' + response[i].AdvA + '</a></li>';
                if (i == 0) {
                    drawGraph(response[i].AdvA);
                }
            }

            render_graph(la, da, "mainGraph", "bar", true, "# of advertisements from each address");
        });

        graph1();
        graph2();
        graph3();
        graph4();
    }

    //graph1
    function graph1() {

        console.log("d");

        var la = [], da = [];

        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "/adv_validity_full",
            "method": "GET",
            "headers": {
                "cache-control": "no-cache",
                "postman-token": "024c5e82-145d-e631-9bcd-c6409a6ca00e"
            }
        }

        $.ajax(settings).done(function (response) {
            //console.log(response[1].AdvA);
            for (var i = 0; i < response.length; i++) {
                la.push(response[i]._id);
                da.push(response[i].count);
                console.log(da);
                console.log(la);
            }

            render_graph(la, da, "graph1", "pie", true, "Advertisement Validity");
        });
    }


    //graph2
    function graph2() {


        var la = [], da = [];

        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "/adv_channel_index_full",
            "method": "GET",
            "headers": {
                "cache-control": "no-cache",
                "postman-token": "024c5e82-145d-e631-9bcd-c6409a6ca00e"
            }
        }

        $.ajax(settings).done(function (response) {
            //console.log(response[1].AdvA);
            for (var i = 0; i < response.length; i++) {
                la.push(response[i]._id);
                da.push(response[i].count);
            }

            render_graph(la, da, "graph2", "pie", true, "Channels Used for Advertisements");
        });
    }


    //graph3
    function graph3() {


        var la = [], da = [];

        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "/adv_addr_types_full",
            "method": "GET",
            "headers": {
                "cache-control": "no-cache",
                "postman-token": "024c5e82-145d-e631-9bcd-c6409a6ca00e"
            }
        }

        $.ajax(settings).done(function (response) {
            //console.log(response[1].AdvA);
            for (var i = 0; i < response.length; i++) {
                la.push(response[i]._id);
                da.push(response[i].count);
            }

            render_graph(la, da, "graph3", "pie", true, "Address Types");
        });
    }


    //graph4
    function graph4() {


        var la = [], da = [];

        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "/adv_types_full",
            "method": "GET",
            "headers": {
                "cache-control": "no-cache",
                "postman-token": "024c5e82-145d-e631-9bcd-c6409a6ca00e"
            }
        }

        $.ajax(settings).done(function (response) {
            //console.log(response[1].AdvA);
            for (var i = 0; i < response.length; i++) {
                la.push(response[i]._id);
                da.push(response[i].count);
            }

            render_graph(la, da, "graph4", "pie", true, "Advertisement Types");
        });
    }


</script>


</body>
</html>