<!DOCTYPE html>
<html>
<head>
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- MAP -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

</head>
<body>

<% include ./partials/header.ejs %>

<div id="mapid" style="height: 450px;"></div>
<div class=" grey lighten-4">
    <div class="container section  ">
        <div class="row" id="dataCard">

        </div>

    </div>
</div>

<script>

    var mymap = L.map('mapid').setView([12.9716, 77.5946], 3);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        setView: true,
        id: 'maninder.2eaonek5',
        accessToken: 'pk.eyJ1IjoibWFuaW5kZXIiLCJhIjoiY2l3eWxyd3NiMDF6aDJ6cGhnOTk1N3d0cyJ9.wZ2KhXUxblDQ5rQmKcuaSg'
    }).addTo(mymap);

    get_gw_details();
    setInterval(get_gw_details, 10000);


    function get_gw_details() {

        var firsttime = true;
        mymap.eachLayer(function (layer) {
            if (!firsttime) {
                mymap.removeLayer(layer);
            }
            firsttime = false;
        })

        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "/get_gw_details",
            "method": "GET",
            "headers": {
                "cache-control": "no-cache",
                "postman-token": "09e78491-7070-bfe0-af31-4c142be58554"
            }
        }

        $.ajax(settings).done(function (response) {

            document.getElementById('dataCard').innerHTML = "";
            var id, state, lat, long;

            for (var i = 0; i < response.gw_loc_details.length; i++) {
                id = response.gw_loc_details[i].gw_uuid;
                long = response.gw_loc_details[i].longitude;
                lat = response.gw_loc_details[i].latitude;
                graphRender(id, long, lat);
            }

            for (var i = 0; i < response.gw_pps_info.length; i++) {
                var pp_info = response.gw_pps_info[i];
                id = pp_info.gw_uuid;
                var ppName = [];
                for (var j = 0; j < pp_info.gw_pps.length; j++) {
                    ppName.push(pp_info.gw_pps[j].pp_name);
                }
                cardRender(id, ppName);
            }

            for (var i = 0; i < response.gw_state_info.length; i++) {
                id = response.gw_state_info[i].gw_uuid;
                state = response.gw_state_info[i].gw_state;
                set_gw_state(id, state);
            }
        });
    }

    function graphRender(id, lat, long) {
        var marker = new L.marker([long, lat]);
        mymap.addLayer(marker);
        marker.bindPopup("UUID : " + id);
    }

    function cardRender(id, ppName) {

        var data = '<div class="col s12 l4 "><div class="card-panel teal lighten-1" id="a' + id + '"><span class="white-text">Gateway UUID : ' + id + '<div class="divider"></div><p>';

        for (var i = 0; i < ppName.length; i++) {
            data += ppName[i] + '<br>';
        }
        data += '</p></span></div></div>';
        document.getElementById('dataCard').innerHTML += data;
    }

    function set_gw_state(id, state) {
        if (state == 0)
            document.getElementById('a' + id).className = 'card-panel teal lighten-3';
    }
</script>
</body>
</html>