body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.errordiv {
    background-color: lightblue;
    font-size: medium;
    margin: auto;
}

a {
    color: #00B7FF;
}
